* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    /* Set background color as per your design */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainlogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

#logo {
    max-width: 60px;
    /* Set the maximum width of your logo */
    max-height: 60px;
    /* Set the maximum height of your logo */
}

#logotxt {
    color: white;
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    margin-left: 10px;
    font-weight: bold;

}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;


}

#navigations {
    margin-right: 100px;
}

.navigation {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 110%;
    font-family: Arimo, Arial, Helvetica, lucida grande, sans-serif;
    /* margin-right: 20px; */
}

.navigation:hover {
    text-decoration: underline;
    color: darkgray;
    /* transform: scale(1.5); */
    opacity: 0.9;
}

#signIn {
    font-size: 110%;
    font-family: Arimo, Arial, Helvetica, lucida grande, sans-serif;
    font-weight: bold;
    padding-right: 20px;
    color: rgb(94, 149, 204);
    text-decoration: none;
}

#signIn:hover {
    text-decoration: underline;
    color: darkslategrey;
    transform: scale(0.9);
}

#bodyimage {

    width: 100%;
    height: auto;
    /* display: block; */
    position: relative;
    display: inline-block;
    /* opacity: 80%;  */
    z-index: -1;
    filter: brightness(70%);
    /* filter: saturate(150%); */
    background-attachment: fixed;
}

.bodyheading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 170%;
}

.bodytxt {
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    color: white;
    font-family: "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    font-size: 140%;
}

.booking {
    position: absolute;
    top: 85%;
    /* bottom: 50%; */
    left: 45%;
    background-color: #37b2d8;
    border-radius: 70px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80%;
    border: 30px;
    border-color: rgb(43, 160, 206);
    font-family: "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.images {
    width: 300px;
    height: 360px;
}

.container {
    width: 90%;
    margin: 0 auto;
    /* padding-left: 70px; */
    /* justify-content: space-between; */
    margin-top: -200px;
    /* z-index: 1; */
    /* background-color: yellow; */
    /* align-items: baseline; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imagecontainer {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
    filter: saturate(100%);
    filter: contrast(100%);
    text-align: center;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.imagecaption {
    /* position: relative; */
    text-decoration: none;
    background-color: rgb(48, 42, 42);
    width: 300px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(250, 244, 244);
    font-size: 150%;
    height: auto;
    opacity: 80%;
    margin-left: 17px;
    /* border: 2px solid black; */
    margin-top: -68px;
    /* border-color: black; */
    /* border: 2px solid rgb(37, 32, 32) */
}

.booking:hover,
.imagecontainer:hover {
    transform: scale(0.975);
}

.navigation:active,
#signIn:active,
.booking:active {
    color: maroon;
    scale: 1.08;
}

/* /Ticketing */
.ticketing {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    /* margin-left: 20px; */
    margin-top: 60px;
    background-color: rgb(193, 211, 130);
}

.ticket {
    display: inline-block;
    width: 33%;
    text-align: left;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headingtc {
    color: rgb(240, 43, 43);
    font-weight: bold;
    font-size: 170%;
}

.myticket {
    font-size: 120%;
}

.resort {
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    /* background-color: yellow; */
}

#resortheading {
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(75, 74, 74);
}

.cityinfo {
    height: 500px;
    width: 700px;
    /* align-items: self-end; */
    position: absolute;
    display: inline-block;
    width: 10%;
    font-size: 115%;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#info{
    /* background-color: red; */
    width: 600px;
    height: 400px;
    margin-left: 220px;
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.planheading{
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(75, 74, 74);
}
.Subscriptionportion{
    /* position: absolute; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 750px;
}
.subscription{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.plan{
    width: calc(33.33% - 10px);
    margin-left: 30px;
    margin-bottom: 50px;
    
    position: relative;
    transition: all 0.2s ease-in-out;
}
figure{
    position: relative;
    margin: 0;
}
.subfigure {
    width: 100%;
    height: auto;
    display: block;
    width: 390px;
    height: 230px;
}
.plancaption{
   position: absolute;
    bottom: 0;
    left: 0;
    width: 380px;
    height: 220px;
    top: -1px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    padding-top: 25px;
    opacity:00%;
    margin: 0;
    text-align: center;
    font-size: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.Lake{
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    
}
.plancaption:hover{
opacity: 100%;
}
.plan:hover{
    scale: 1.06;
}
.plancaption:active{
opacity: 80%;
/* filter: contrast(130%); */
}
.plan:active{
    scale: 1.02;
}

/* Service Portion */

.services{
    width: 100%;
    background-color: rgb(106, 107, 105);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
    text-align: center;
    color: #01141a;
}

.subservice{
    display: inline-block;
    width: calc(25% - 10px);
    /* margin: 0 auto; */
    /* margin-left: 30px; */
    /* background-color: rgb(86, 87, 84); */
    margin-bottom: 50px;
    /* display: flex; */
    position: relative;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    padding-left: 30px;
}
.subheading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ddaf15;
    font-size: 170%;
}
.servicetext{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    height: auto;
    font-size: 120%;
}
.reserveseat{
    background-color: rgb(49, 46, 46);
    padding: 5px;
    text-decoration: none;
    font-size: 120%;
    /* margin-top: 30px;  */
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.reserveseat:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(49, 46, 46);
}
.reserveseat:active{
    color: rgb(138, 57, 57);
    background-color: rgb(46, 44, 44);
}